# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ZSB Endless Runner 2A.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Projekty Unity\ZSB Endless Runner 2A\.idea\.idea.ZSB Endless Runner 2A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
